body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
  outline: none;
  height: 20px;
  width: 300px;
  top: 50%;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  background-color: white;
  color: #808080;
  margin: 0 8px;
}

button:hover {
  background-color: #ff7fff;
  cursor: pointer;
  transition: all 1s;
}

li {
  margin-right: 8px;
  color: #555555;
}

.incomplete-area {
  background-color: #b0d2ea;
  width: 500px;
  min-height: 230px;
  padding: 8px;
  margin: 8px auto;
  border-radius: 8px;
}

.complete-area {
  background-color: #ecaaa5;
  width: 500px;
  min-height: 230px;
  padding: 8px;
  margin: auto;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: white;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.todo-text {
  fontweight: bold;
  color: white;
}

.heading {
  text-align: center;
  color: #b2a8cd;
}

.container {
  padding: 50px;
}

.input-area {
  padding: 7px 0;
}
